/* כלליים */

.main-content {
  flex: 1; /* ממלא את כל הגובה הנותר */
  display: flex;
  flex-direction: column; /* מאפשר לפרוג'קטס ולפוטר להיות מסודרים */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column; /* סידור התוכן בעמודה */
  min-height: 100vh; /* לפחות גובה המסך */
}

/* לוגו */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* כרטיס */
.card {
  padding: 2em;
}

/* הקישור לתיעוד */
.read-the-docs {
  color: #888;
}

/* מותאם לגלישה ברוחב מסכים שונים */
@media (max-width: 768px) {
  .logo {
    height: 4em;
    padding: 1em;
  }
}


.Header {
  background-color: rgb(62, 36, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 1rem;
  text-align: center;
  position: fixed; /* נשאר תמיד למעלה */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center; /* מרכז ורטיקלי */
  align-items: center; /* מרכז אופקי */
  box-sizing: border-box; /* כולל פדינג בגבולות */
  z-index: 1000; /* וודא שהוא מעל תוכן */
}
