/* .header {
  background-color: #333;
  width: 2200px;
  height: 20%;
} */

/* .header {
  background-color: #222;
  color: white;
  padding: 1rem;
  text-align: center;
  left: 0%;
  position: fixed;
  top: 0;
  width: 100%;
} */

.header {
  background-color: #333;
  color: white;
  padding: 1rem; /* ריווח פנימי */
  text-align: center;
  min-height: 10vh; /* גובה מינימלי כ-10% מגובה המסך */
  /* max-height: 10vh; */
  display: flex;
  align-items: center; /* למרכז את התוכן אנכית */
  justify-content: center; /* למרכז את התוכן אופקית */
  top: 0;
  width: 100%;
  left: 0%;
  position: fixed;
}

@media (max-width: 768px) {
  .header {
    padding: 0.5rem; /* ריווח קטן יותר במסכים קטנים */
    min-height: 15vh; /* גובה מוגדל למסכים קטנים */
  }
}



