.header {
  background-color: rgb(62, 36, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 1rem;
  text-align: center;
  position: fixed; /* נשאר תמיד למעלה */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* וודא שהוא מעל תוכן */
}

.header h1 {
  font-size: 2rem;
  margin: 0;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 1.5rem;
  }
}
