/*
    יהיה בצד ימין ובעתיד יהיה לצידו מקש נוסף למעבר לדף אודותיי,
    יופיע במרכז הגובה של חלק ההדר שרואים בפועל,
    יהיה למשתמש קל להבין שמדובר במקש ניווט אך ישמור על הדר צר גובה נקי ופשטני,
    באתר כמו שאני רוצה יש הדר צר עם שמות דפים באתר שלחיצה עליהם מנווטת
    יש פונט יפה פשוט
    ככה שורה של שמות הדפים וזהו
 */


.header {
  background-color: rgb(62, 36, 1);
  box-shadow: 0 2px 4px rgb(95, 58, 4);
  color: white;
  padding: 1rem;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 1000;  
}



.about-button, .contact-button, .projects-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.about-button:hover, .contact-button:hover, .projects-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.about-button:focus, .contact-button:focus, .projects-button:focus {
  outline: none;
}




/* Header.css */

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f4f4f4;
  border-bottom: 2px solid #ddd;
}

.header a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.header a:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #0056b3;
}

.contact-button {
  background-color: #ffdddd;
}

.about-button {
  background-color: #ddffdd;
}

.projects-button {
  background-color: #ddddff;
}

.contact-button:hover,
.about-button:hover,
.projects-button:hover {
  background-color: #0056b3;
  color: white;
} */









