.project-container {
  width: 400px; 
  height: 500px;
  max-width: 400px; 
  margin: 1rem auto; 
  border: 1px solid #ccc; 
  border-radius: 8px;
  background-color: rgba(121, 78, 9, 0.411); 
  color: white; 
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;

}

.project-item {
  padding-top: 0;
}

.project-top {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project-title {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  color: #00ff6a; 
}

.project-description {
  font-size: 1rem;
  line-height: 1.4;
  color: #ccc;
  text-align: center;
}

.project-link {
  color: #61dafb;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  margin: 0.5rem auto;
}

.project-link:hover {
  text-decoration: underline;
}

.project-image-container {
  width: 100%;
  text-align: center;
}

.project-image {
  width: 100%;
  border-top: 1px solid #444;
  margin-top: 0.5rem;
}

.project-bottom {
  padding: 0.5rem;
  background-color: #333;
  text-align: center;
  border-top: 1px solid #444;
  overflow-y: auto;
  overflow-x: hidden;
}

.project-comment {
  font-size: 0.9rem;
  color: #bbb;
}

